<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Avatar</th>
      <th>Avatar cache</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div>
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>>
      <%= f.text_field :name %>>
      <%= f.file_field :image %>
      <%= f.submit '登録' %>
    <% end %>
  </div>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= image_tag(user.image.to_s) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
